<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Basic HTML Elements </title>
    </head>
    <body>
        <h1>Basic HTML Elements</h1>
        <h2>p</h2>
        <p>This HTML template provides an example of how to use the core HTML tags.</p>
        <h2>a</h2>
        <p>The anchor tag is used to create <a href="/">hyperlinks</a> .</p>
        <h2>img</h2>
        <img src="http://unco-bacs.org/bacs_200/images/Bear3.png">
        <h2>ul, li</h2>
        <ul>
            <li><a href="index.html">Templates</a></li>
            <li><a href="simple.html">Simple Page HTML</a></li>
            <li><a href="basic.html">Basic HTML Tags</a></li>
            <li><a href="paragraph.html">Paragraph</a></li>
        </ul>
        <h2>hr</h2>
        <hr>
        <h2>pre</h2>
        <pre>
            Preformatted code.
            Do not reformat this.
        </pre>
        <h2>Headings</h2>
        <h1>h1</h1>
        <h2>h2</h2>
        <h3>h3</h3>
        <h4>h4</h4>
        <h5>h5</h5>
    </body>
</html>