<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Development Checklist</title>
        <style>
            th { background-color: #00B8D4; }
            table { border: solid 2px blue; }
            td { border: solid 1px #eef; }
        </style>
    </head>
    <body>
        <h1>Development Checklist</h1>
        <h2>Best Practice Verification</h2>
        <p>Review each of the skills with a partner and complete this table.</p>
        <img src="http://bacs200.unco.edu/BACS_200/img/Bear_Logo.png">


        <table>
            <tr>
                <th>Skill</th>
                <th>Me-id</th>
                <th>Partner-id</th>
            </tr>
            <tr>
                <td><b>Files</b></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>* Files in OneDrive</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>* No Desktop files</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>* Proper file structure in web-root</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>FileZilla</b></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>* One-click connect</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>* Proper starting directory</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>* Reset remote data</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Windows</b></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>* Basic skills</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>* Short-cuts</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>* File extensions</td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td><b>Chrome</b></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>* Bookmark Bar</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>* Show page source</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>* Show dev tools</td>
                <td></td>
                <td></td>
            </tr>

        </table>

    </body>
</html>
