<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://www.unco.edu/favicon.ico">
    <title>Hyperlinks</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bacs200/style.css">
</head>

<body>
    <h1>Different Types of Links</h1>

    <p>
        Server Root URL - Contains / -
    </p>
    <p>
        <a href="/bacs200">/bacs200</a>
    </p>
    <p>
        Relative URL - Same Directory -
    </p>
    <p>
        <a href="index.html">index.html</a>
    </p>
    <p>
        Relative URL - Different Directory -
    </p>
    <p>
        <a href="../images/AbeLincoln.jpg">../images/AbeLincoln.jpg</a>
    </p>
    <p>
        Absolute URL - Contains http: -
    </p>
    <p>
        <a href="http://unco.edu">http://unco.edu</a>
    </p>


    <h2>Types of Hyperlinks</h2>

    <p>Page Loading: <b>http://unco-bacs.org/bacs200/templates/hyperlink.html</b></p>
    <p>URL: <b>http://unco-bacs.org/bacs200/templates/bullets.html</b></p>


    <table>
        <tr>
            <th>URL Type</th>
            <th>HREF Bullets</th>
            <th>HREF Home</th>
        </tr>
        <tr>
            <td><b>Absolute</b></td>
            <td>http://unco-bacs.org/bacs200/templates/bullets.html</td>
            <td>
                <p>http://unco-bacs.org/bacs200/index.html</p>
                <p>http://unco-bacs.org/bacs200/</p>
                <p>http://unco-bacs.org/bacs200</p>
            </td>
        </tr>
        <tr>
            <td><b>Server Root Relative</b></td>
            <td>/bacs200/templates/bullets.html</td>
            <td>
                <p>/bacs200/index.html</p>
                <p>/bacs200/</p>
                <p>/bacs200</p>
            </td>
        </tr>
        <tr>
            <td><b>Relative</b></td>
            <td>bullets.html</td>
            <td>
                <p>../index.html</p>
                <p>../</p>
                <p>..</p>
            </td>
        </tr>

    </table>
</body>

</html>
