<h1>Images Demo</h1>

<h2>Basic Image Element</h2>

<pre>
    <code>
        &lt;img src="http://unco-bacs.org/bacs200/images/Bear_Logo.png" 
        alt="Bear Logo"&gt;
    </code>
</pre>

<h2>Width</h2>
<p>Display image as 100 pixels wide</p>
<img src="http://unco-bacs.org/bacs200/images/Bear_Logo.png" 
alt="Bear Logo" width="100px">

<p>Display image as 50 pixels wide</p>
<img src="http://unco-bacs.org/bacs200/images/Bear_Logo.png" 
alt="Bear Logo" width="50px">

<p>Display image as 200 pixels wide</p>
<img src="http://unco-bacs.org/bacs200/images/Bear_Logo.png" 
alt="Bear Logo" width="200px">


<h2>Image Source</h2>

<p>Absolute Path - Includes the protocol and domain</p>
<p>http://unco-bacs.org/bacs_200/images/Bear_Logo.png</p>
<p><img src="http://unco-bacs.org/bacs200/images/Bear_Logo.png" 
alt="Absolute"></p>

<p>Server Path - Path from top of web server</p>
<p>/images/Bear_Logo.png</p>
<p><img src="/bacs200/images/Bear_Logo.png" alt="Server"></p>

<p>Relative Path - Path from this page</p>
<p>../images/Bear_Logo.png</p>
<p><img src="../images/Bear_Logo.png" alt="Relative"></p>


<h2>Float</h2>

<p>Resize your window and watch what happens.</p>

<img src="http://unco-bacs.org/bacs200/images/Bear_Logo.png" 
alt="Server" style="float:left">

<p>
I will not tell a lie!
I will not tell a lie!
I will not tell a lie!
I will not tell a lie!
I will not tell a lie!
I will not tell a lie!
I will not tell a lie!
I will not tell a lie!
I will not tell a lie!
I will not tell a lie!
I will not tell a lie!
I will not tell a lie!
I will not tell a lie!
I will not tell a lie!
I will not tell a lie!
I will not tell a lie!
I will not tell a lie!
I will not tell a lie!
I will not tell a lie!
I will not tell a lie!
I will not tell a lie!
I will not tell a lie!
I will not tell a lie!
</p>


<h2>Max Width</h2>

<p>Set image width to 800 pixels or the entire width of the space left for display.</p>
<p>Resize your window and watch what happens.</p>
<p>
    <img src="http://unco-bacs.org/bacs200/images/Bear_Logo.png" 
    alt="Server" width="800px" style="max-width:100%">
</p>