<!--
    Inline formatting for text example

    This example demonstrates the following elements

    * i - Italic
    * b - Bold
    * sub - Subscript
    * sup - Superscript
    * br - Vertical space
    * hr - Horizonal rule
-->

<p>
    <i>i - Italic</i>
</p>
<p>
    <b>b - Bold</b>
</p>
<p>
    This is a superscript<sup>1</sup>
</p>
<p>
    This is a subscript<sub>2</sub>
</p>
<p>
    Vertical space<br>Vertical space<br>Vertical space<br>Vertical space
</p>
<p>
    <hr>Horizontal Rule<hr>Horizontal Rule<hr>Horizontal Rule<hr>
</p>
