<!--
        Main Content

        This template shows how to define the main area which contains multiple articles
        and a side-menu and a side-bar with a table of contents.

        <link rel="stylesheet" href="blog.css">    

    -->

<div class="page">
    <section>
        <article id="article-1">
            <h2>Article 1</h2>
            <p>Text for topic 1</p>
        </article>

        <article id="article-2">
            <h2>Article 2</h2>
            <p>Text for topic 2</p>
        </article>
    </section>
</div>
