/* ----------------------------------------------- */
/* HTML Elements */

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: blue;
    color: yellow;
    text-align: center;
}

footer {
    clear: both;
    text-align: center;
    margin: 100px;
}


/* ----------------------------------------------- */
/* Classes */

.page {
    box-shadow: 2px 2px 5px grey;
    /*background-color: #fffff8;*/
    border: 1px solid black;
    border-radius: 10px;
    margin: 40px;
    padding: 40px;
    width: 500px;
    float: left;
}


/* ----------------------------------------------- */
/* IDs */


#side-menu {
    margin: 10px;
    float: left;
    background-color: lightyellow;
    box-shadow: 2px 2px 5px gray;
    text-align: center;
}

#side-menu ul {
    list-style-type: none;
}

#side-menu ul li {
    padding: 1em;
    width: 200px;
    margin: 10px;
    background-color: lightblue;
    box-shadow: 2px 2px 5px gray;
}

#side-menu ul li a {
    display: block;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
