<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Menu Demo</title>
    <link rel="stylesheet" href="menu.css">
</head>

<body>
    <!--
       Top Menu
    -->
    <nav id="main-menu">
        <ul>
            <li><a href="blog.html#article-1">Article 1</a></li>
            <li><a href="blog.html#article-2">Article 2</a></li>
        </ul>
    </nav>
    <!--
       Page header
    -->
    <header>

        <h1>Header</h1>
        <h2>Tagline</h2>
    </header>

    <!--
         Main page section
     -->
    <main>
        <nav id="side-menu">
            <ul>
                <li><a href="blog.html">Inventory</a></li>
                <li><a href="blog.html">Summary</a></li>
                <li><a href="blog.html">Details</a></li>
            </ul>
        </nav>
        <lorem></lorem>
        <section class="page">
            <h1>Main</h1>
            <p>Main section</p>
        </section>
    </main>

    <!--
        Page footer
    -->
    <footer>
        <p>Create your footer here!</p>
    </footer>
</body>

</html>
