<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>BACS 200 - Project List</title>
    </head>
    <body>

        <h1>BACS 200 - Project List</h1>

        <p>
            <a href="..">UNC BACS 200 Home Page</a>
        </p>

        <h2>Project List</h2>

        <ul>
            <li>
                <a href="01.html">Project #1</a>
            </li>
            <li>
                <a href="02.html">Project #2</a>
            </li>

        </ul>

    </body>
</html>