<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="http://www.unco.edu/favicon.ico">

        <title>Design Review Feedback</title>

        <!-- CSS -->
        <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/theme.css">
    </head>

    <body>
        <main role="main" class="container">
            <h4>Scorecard - 2018-02-23.html</h4>
            <p>Reviewer: ________</p>
            <p>Designer: ________</p>
            <p>Reviewed Page: <a href="http://bacs200.unco.edu/________">xxx/______.html</a></p>
            <p>Review Date: ________</p>
            <p>
                <a href="https://validator.w3.org/nu/?doc=http://bacs200.unco.edu/____.html">
                    Validate HTML
                </a>
            </p>
            <p>
                <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://bacs200.unco.edu/____.html">
                    Validate CSS
                </a>
            </p>

            <!--
             Set class to signify Score

             Review not complete  - <div class="alert alert-dark"    role="alert">
             Score from 50-45     - <div class="alert alert-success" role="alert">
             Score from 45-40     - <div class="alert alert-warning" role="alert">
             Score below 40       - <div class="alert alert-danger"  role="alert">
             -->
            <div class="alert alert-dark" role="alert">

                <table class="table table-hover">
                    <tr>
                        <th>Requirement</th>
                        <th>Score</th>
                        <th>Notes</th>
                    </tr>
                    <tr>
                        <td>Page URL</td>
                        <td>1</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Banner</td>
                        <td>1</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Footer</td>
                        <td>1</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Layout</td>
                        <td>1</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Menu</td>
                        <td>1</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Images</td>
                        <td>1</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Visual Appeal</td>
                        <td>1</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Links</td>
                        <td>1</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Writing Quality</td>
                        <td>1</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Purpose</td>
                        <td>1</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;Total Score</th>
                        <th>10 of 50</th>
                    </tr>
                </table>

            </div>

            <aside>
                <h3>Scoring Key</h3>
                <p><b>Score (Stars)</b></p>
                <p>1. Feature is missing</p>
                <p>2. Feature is work working properly</p>
                <p>3. Feature has problems</p>
                <p>4. Some improvements required</p>
                <p>5. No further work is needed</p>
            </aside>

        </main><!-- /.container -->

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
        <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    </body>
</html>
