<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="http://www.unco.edu/favicon.ico">

        <title>Design Review Feedback</title>

        <!-- CSS -->
        <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/theme.css">
    </head>

    <body>
        <header id="page-header">
            <img src="http://bacs200.unco.edu/BACS_200/img/Bear.png" alt="Bear" width="150">
            <h1>Design Review Feedback</h1>
        </header>

        <main role="main" class="container">

            <h2>Reviewed Page: 2018-02-23.html</h2>
            <h3>Design Review Group AAA </h3>
            <ul>
                <li>student id 1 - xxx</li>
                <li>student id 2 - yyy</li>
                <li>student id 3 - zzz</li>
            </ul>

            <h2>Blog #2 - published 2018-03-02</h2>

            <!-- Start of Tabs -->
            <div class="page">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab-21" data-toggle="tab" href="#tab21" role="tab"
                           aria-controls="tab21"
                           aria-selected="true">xxx</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-22" data-toggle="tab" href="#tab22" role="tab"
                           aria-controls="tab22"
                           aria-selected="false">yyy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-23" data-toggle="tab" href="#tab23" role="tab"
                           aria-controls="tab23"
                           aria-selected="false">zzz</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="tab21" role="tabpanel" aria-labelledby="tab-21">
                        <p><a href="reviews/xxx-blog-2018-03-02.html">Student ID (xxx) - Blog 2</a></p>
                    </div>
                    <div class="tab-pane" id="tab22" role="tabpanel" aria-labelledby="tab-22">
                        <p><a href="reviews/yyy-blog-2018-03-02.html">Student ID (yyy) - Blog 2</a></p>
                    </div>
                    <div class="tab-pane" id="tab23" role="tabpanel" aria-labelledby="tab-23">
                        <p><a href="reviews/zzz-blog-2018-03-02.html">Student ID (zzz) - Blog 2</a></p>
                    </div>
                </div>
            </div>

            <h2>Blog #1 - published 2018-02-23</h2>

            <!-- Start of Tabs -->
            <div class="page">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab-11" data-toggle="tab" href="#tab11" role="tab"
                           aria-controls="tab11"
                           aria-selected="true">xxx</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-12" data-toggle="tab" href="#tab12" role="tab"
                           aria-controls="tab12"
                           aria-selected="false">yyy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-13" data-toggle="tab" href="#tab13" role="tab"
                           aria-controls="tab13"
                           aria-selected="false">zzz</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="tab11" role="tabpanel" aria-labelledby="tab-11">
                        <p><a href="reviews/xxx-blog-2018-02-23.html">Student ID (xxx) - Blog 1</a></p>
                    </div>
                    <div class="tab-pane" id="tab12" role="tabpanel" aria-labelledby="tab-12">
                        <p><a href="reviews/yyy-blog-2018-02-23.html">Student ID (yyy) - Blog 1</a></p>
                    </div>
                    <div class="tab-pane" id="tab13" role="tabpanel" aria-labelledby="tab-13">
                        <p><a href="review_scorecard.html">Student ID (zzz) - Blog 1</a></p>
                    </div>
                </div>
            </div>


        </main><!-- /.container -->

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
        <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    </body>
</html>
