<p>This page is an HTML code fragment not a complete file.  Copy this code into a page that already uses Bootstrap.</p>
<p>Related Pages</p>
<ul>
    <li><a href="/BACS_200/templates.html">BACS 200 Templates</a></li>
    <li><a href="/BACS_200/templates/review_scorecard.html">Review Scorecard </a></li>
    <li><a href="/BACS_200/templates/bootstrap-tabs.html">Tabs Template</a></li>
    <li><a href="/BACS_200/templates/bootstrap.html">Bootstrap Template</a></li>
    <li><a href="https://getbootstrap.com/docs/4.0/components/collapse/#accordion-example">Bootstrap Accordion</a></li>
    <li><a href="https://getbootstrap.com/docs/4.0/components/navs/#using-data-attributes">Bootstrap Tabs</a></li>

</ul>

<!-- Start of Tabs -->
<div class="page">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="tab-1" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1"
               aria-selected="true">student-id-1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab-2" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2"
               aria-selected="false">student-id-2</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="tab1" role="tabpanel" aria-labelledby="tab-1">
            <h2 class="red">
                Insert <a href="/BACS_200/templates/review_scorecard.html">SCORECARD </a> here
            </h2>

        </div>
        <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="tab-2">
            <h2 class="red">
                Insert <a href="/BACS_200/templates/review_scorecard.html">SCORECARD </a> here
            </h2>
        </div>
    </div>

</div>
<!-- End of Tabs -->
