<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/theme.css">
</head>
<body>
    <header>
        <h1>Review Checklist</h1>
        <p>Create your banner here!</p>
    </header>

    <main>

        <section>
            <h2>Review Scorecard</h2>
            <h3>Reviewed by:  George Washington</h3>
            <h3>Reviewed page:  <a href="http://bacs200.unco.edu/xxx/xxx.html">stud1234/index.html</a></h3>
            <pre>
Score each website based on the quality of the features

1. Correct Page Name    0
2. Banner               0
3. Footer               0
4. Layout               0
5. Menu                 0
6. Images               0
7. Clear Writing        0
8. Compelling Writing   0
9. Visual Appeal        0
10. Pages               0

Total Score             0/50


Score (Stars)

1. Feature is missing
2. Feature is work working properly
3. Feature has problems
4. Some improvements required
5. No further work is needed
            </pre>

            <h2>Review Comments</h2>
            <p>Write a simple comment for each feature where you did not score a 5.</p>
            <pre>
1. Correct Page Name

       Page should be blog/2018-02-23.html

2. Banner
3. Footer
4. Layout
5. Menu
6. Images
7. Clear Writing
8. Compelling Writing
9. Visual Appeal
10. Pages
            </pre>
        </section>
        <hr>

        <h2>Website Features</h2>

        <pre>
Correct Page Name

* Is the home page named correctly?   blog/2018-02-23.html

Banner

* Does the banner have attractive artwork?
* Is the banner used on each page of the website?
* Is a nice font used for the banner?

Footer

* Is there an attractive footer?
* Does this site have a copyright notification?

Layout

* Is there good use of white space? margin/padding
* Is these some kind of multiple columns or sidebars?
* Is every page consistent?

Menu

* Is there a main menu with at least four items?
* Do all links connect to a page?
* Is the menu present on each page?

Images

* Are there attractive images on each page?
* Is there attribution of the image owners?
* Do the images enhance the theme of the website?
* Good use of color and fonts for visual appeal?

Clear Writing

* Does it communicate the primary purpose of the site?
* Is the message short, simple, and clear?

Compelling Writing

* Is there a call to action?
* Is there an enticement to learn more?

Visual Appeal

* Does this webpage give a good first impression?
* Would a reader stay after the first 10 seconds?

Multiple Pages

* Are there the correct number of pages?
* Is the navigation clear?

        </pre>
    </main>
</body>
</html>