<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Stylesheet Demo</title>
        <!--
            Add in the stylesheets that you want to use...

            <link rel="stylesheet" href="font.css">
            <link rel="stylesheet" href="color.css">
            <link rel="stylesheet" href="spacing.css">
            <link rel="stylesheet" href="border.css">
        -->
        <link rel="stylesheet" href="font.css">
    </head>
    <body>
        <h1>Headline</h1>
        <h2>Subhead</h2>
        <p>
            This is a paragraph of text.  This <a href="stylesheet.html">demo file</a>
            shows the proper use of a stylesheet within the HTML page.
            Mouse over this hyperlink <a href="font.css">font.css</a>.
        </p>
    </body>
</html>