/* ----------------------------------------------- */
/* HTML Elements */

body {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 0em;
    margin-bottom: 1em;
    /*background-color: green;*/
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: .5em;
}

h1 {
}

h2 {
    text-align: center;
    color: green;
}

h3 {
    text-align: left;
    color: blue;
}

h4 {
    color: green;
}

h5 {
    color: blue;
    border-top: dashed blue 1px;
    padding-top: 1em
}

hr {
    border: solid 2px green;
    margin-top: 2em;
    margin-bottom: 2em;
}

img {
    /*border: solid 1px black;*/
    /*box-shadow: 2px 2px;*/
    max-width: 100%;
    text-align: center;
    margin: 0 50% 0 50%;
    margin: auto;
}

main {
    /*padding: 1rem;*/
}

td {
    padding: 10px;
}

p {
    text-align: left;
    margin-top: 1em;
}

pre {
    margin: 20px 40px 20px 20px;
    padding: 20px;
    border: 1px solid grey;
    box-shadow: 2px 2px 5px grey;
}

/* ----------------------------------------------- */
/* Classes */

.button {
    float: right;
}

.page {
    box-shadow: 2px 2px 5px grey;
    /*background-color: #fffff8;*/
    border: 1px solid black;
    border-radius: 10px;
    margin: 40px;
    padding: 40px;
}

.sourceCode {
    margin: 0px;
}
