<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>External Stylesheet Demo</title>

        <!-- NOTE: there must be a file named "red-h1.css" -->

        <link rel="stylesheet" href="red-h1.css">

    </head>
    <body>

        <h1>External Stylesheet Demo</h1>

        <p>This demo shows how to hook up an external stylesheet.</p>
        <p>Note that the h1 elements are red.</p>
        <p>View the <a href="red-h1.css" target="_blank">stylesheet</a></p>

    </body>
</html>