<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="http://www.unco.edu/favicon.ico">
        <title>BACS 200 Web Server</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
              crossorigin="anonymous">

        <!-- Custom styles for this template -->
        <link href="/BACS_200/css/theme.css" rel="stylesheet">

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">BACS200</a>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/BACS_200/index.html">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/BACS_200/schedule.html">Schedule <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/BACS_200/students.html">Websites<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/BACS_200/templates.html">Templates<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/BACS_200/lesson/lesson41.html">Lesson<span
                                class="sr-only"></span></a>
                    </li>

                    

                </ul>
            </div>
        </nav>

        <main class="container">

            
                <div class="page">
                    
                        <h1 id="bacs-200---templates">BACS 200 - Templates</h1>
<p>Code templates that you can use to solve specific problems.</p>
<hr />
<h2 id="html-pages">HTML Pages</h2>
<p>These templates are complete HTML pages.</p>
<ul>
<li><a href="simple.html">Simple Page HTML</a></li>
<li><a href="basic.html">Basic HTML Tags</a></li>
<li><a href="semantic.html">Semantic HTML Elements</a></li>
<li><a href="blog.html">Blog Page</a></li>
<li><a href="stylesheet.html">Stylesheet Demo</a></li>
<li><a href="menu.html">Main Menu</a></li>
</ul>
<hr />
<h2 id="html-elements">HTML Elements</h2>
<p>These template demonstrate how to use HTML elements.</p>
<p>Core HTML Elements</p>
<ul>
<li><a href="paragraph.html">Paragraph</a></li>
<li><a href="headline.html">Headline</a></li>
<li><a href="subhead.html">Subheading</a></li>
<li><a href="hyperlink.html">Hyperlink</a></li>
<li><a href="bullets.html">Bullet List</a></li>
</ul>
<p>Other HTML Elements</p>
<ul>
<li><a href="num_list.html">Numbered List</a></li>
<li><a href="table.html">Table</a></li>
<li><a href="image.html">Image</a></li>
<li><a href="validate.html">Testing</a></li>
</ul>
<p>Extended HTML Elements</p>
<ul>
<li><a href="head.html">Head Element</a></li>
<li><a href="pre.html">Pre-formatted Text</a></li>
<li><a href="blockquote.html">Block Quote</a></li>
<li><a href="seo.html">SEO</a></li>
<li><a href="inline.html">Inline</a></li>
<li><a href="entities.html">HTML Entities</a></li>
<li><a href="video.html">Video</a></li>
<li><a href="form.html">Forms</a></li>
</ul>
<p>Advanced HTML Tricks</p>
<ul>
<li><a href="redirect.html">Automatic Redirect</a></li>
<li><a href="validate.html">Testing</a></li>
<li><a href="iframe.html">iframe</a> - Display HTML Code</li>
</ul>
<hr />
<h2 id="css-templates">CSS Templates</h2>
<ul>
<li><a href="css/theme.css">CSS Theme</a></li>
<li><a href="font.css">Fonts CSS</a></li>
<li><a href="color.css">Color CSS</a></li>
<li><a href="spacing.css">Spacing CSS</a></li>
<li><a href="border.css">Border CSS</a></li>
<li><a href="box.html">Box Model</a></li>
<li><a href="selector.html">Selector Workshop</a></li>
<li><a href="selector.css">Selector CSS</a></li>
</ul>
<hr />
<h2 id="java-script-controls">Java Script Controls</h2>
<ul>
<li><a href="tabs.html">Tabs</a></li>
<li><a href="accordion.html">Accordion</a></li>
</ul>
<hr />
<h2 id="bootstrap">Bootstrap</h2>
<ul>
<li><a href="bootstrap.html">Page Template</a></li>
<li><a href="bootstrap-demo.html">Demo Page</a></li>
<li><a href="bootstrap-alert.html">Alerts</a></li>
<li><a href="bootstrap-accordion.html">Accordion</a></li>
<li><a href="bootstrap-tabs.html">Tabs</a></li>
<li><a href="bootstrap-jumbo.html">Jumbotron</a></li>
</ul>
<hr />
<h2 id="project-review-checklists">Project Review Checklists</h2>
<ul>
<li><a href="review.html">Review Feedback</a></li>
<li><a href="review_scorecard.html">Review Scorecard</a></li>
<li><a href="development.html">Development Checklist</a></li>
</ul>

                    
                </div>
            

        </main><!-- /.container -->


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous">
        </script>
        <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
                integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
                crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
                integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
                crossorigin="anonymous">
        </script>

    </body>
</html>
