<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Validation Tools</title>
</head>

<body>

    <h1>Validation Tools</h1>

    <p>
        The Validator is a web service that you use to make sure that all of the HTML code is valid according to
        the HTML5 specification.
    </p>

    <p>
        You are required to run this tool on all URLs that you submit to Canvas. This validator will show you all
        of the mistake that are in your HTML code. Fix them and try again.
    </p>
    <p>
        Submit your code to the <a href="https://validator.w3.org">HTML Validator</a>. Copy and paste your URL.
    </p>

    <p>Choose the appropriate Validator</p>
    <ul>
        <li>
            <a href="https://validator.w3.org">HTML Validator</a>
        </li>
        <li>
            <a href="https://jigsaw.w3.org/css-validator/">CSS Validator</a>
        </li>
        <li>
            <a href="https://validator.w3.org/checklink">Link Validator</a>
        </li>
    </ul>

</body>

</html>
