<!--
    This HTML fragment demonstrates how to play a video
    that is hosted on someone else's server.

    Play a YouTube video

        * Find a video  (eg. https://www.youtube.com/watch?v=u6XAPnuFjJc)
        * Share button below image
        * Embed button
        * Copy button to get the html

    eg.
        <iframe width="560" height="315"
            src="https://www.youtube.com/embed/u6XAPnuFjJc"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen>

-->

<h1>Video Demo</h1>

<iframe width="560" height="315"
        src="https://www.youtube.com/embed/u6XAPnuFjJc"
        frameborder="0"
        allow="autoplay; encrypted-media"
        allowfullscreen>

</iframe>